@model Event

@{
    ViewBag.Title = "Delete";
}
<head>
    <style>
        .Editform {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form textarea {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .btn {
            border: 2px solid gray;
            color: white;
            background-color: cornflowerblue;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
        }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        #venue, #description {
            height: 150px;
            font-size: 14pt;
        }
    </style>

</head>

<div class="form " style="display:block; text-align:center;margin-right:100px; margin-left:100px;" title="Delete" id="editform">

    <form class="Displayform" method="post" style="display:inline-block; margin-left:auto; margin-right:auto; text-align:left; margin-top:auto;" action="@Url.Action("Delete","Events")">
        <h2>Do You Really Want To Delete This Event?</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.E_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.E_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event_end)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Event_end)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Specification)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specification)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Venue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Venue)
            </dd>

        </dl>


        @Html.HiddenFor(model => model.E_id)
        <label>@ViewBag.Message</label>
        <center><input type="submit" class="btn-primary" style="background-color:dodgerblue; color:white;" value="Delete" /></center>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
