@model Event

@{
    ViewBag.Title = "Edit";
}

<div id="udit">
    <div class="form " style="display:block; text-align:center;margin-right:100px; margin-left:100px;" title="Edit" id="editform">

        <form class="Editform" method="post" style="display:inline-block; margin-left:auto; margin-right:auto; text-align:left; margin-top:auto;" action="@Url.Action("Edit","Events")">
            <h2>Update Event</h2>

            @Html.ValidationMessageFor(a => a.E_name, "", new { @class = "text-danger" })
            <input type="text" value=@Model.E_name placeholder="Title" id="title" name="E_name"/ required><br />

            @Html.ValidationMessageFor(a => a.Event_start, "", new { @class = "text-danger" })
            <input class="textbox-n" type="text" value=@Model.Event_start onfocus="(this.type='date')" id="startdate" name="Event_start" required><br />

            @Html.ValidationMessageFor(a => a.Event_end, "", new { @class = "text-danger" })
            <input placeholder="End Date" class="textbox-n" value=@Model.Event_end type="text" onfocus="(this.type='date')" id="enddate" name="Event_end" required><br />

            @Html.ValidationMessageFor(a => a.Venue, "", new { @class = "text-danger" })
            <textarea name="Venue" cols="40" rows="5" placeholder="Venue" required>@Model.Venue</textarea><br />

            @Html.ValidationMessageFor(a => a.Specification, "", new { @class = "text-danger" })
            <textarea name="Specification" cols="40" rows="5" placeholder="Specification" required>@Model.Specification</textarea><br />
            @Html.HiddenFor(model => model.E_id)
            <button style="margin-left:110px;" class="btn btn-primary" onclick="location.href='@Url.Action("Edit_Images", "Events")'">Edit Images</button>
            <div>
                <div class="upload-btn-wrapper">
                    <br />
                    <button class="btn btn-primary" style="margin-left:110px; background-color:#428bca;">Upload a file</button>
                    <input type="file" name="myfile" />

                </div>
            </div>
            <input type="submit" class="btn btn-primary" style="background-color:#428bca;" value="Update" />
            <label>@ViewBag.Message</label>

        </form>
    </div>
</div>

