@model IEnumerable<Event>

@{
    ViewBag.Title = "Index";
}
@*ADMIN HOME PAGE*@
<div id="udit5">
    <div class="container" id="events">
        <button class="col-xs-6" onclick="location.href='@Url.Action("Index","Events")'">Create/Modify Event</button>
        <button class="col-xs-6" onclick="location.href='@Url.Action("Personalize", "Events")'">Personalize Images</button>
        <br><br />
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Events")'" style="background-color:#428bca;">Create Event</button>
        <br><br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="color:blue;">
                        Event Name
                    </th>
                    <th colspan="2" style="text-align:center; color:blue;">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model)
            {
                    <tr>

                        <td>
                            @v.E_name
                        </td>
                        <td>
                            <button class="btn btn-defult" onclick="location.href='@Url.Action("Edit", "Events",new{id=@v.E_id})'">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Events" ,new{id=@v.E_id})'">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-primary">Upload</button>
                            <input type="file" name="myfile" />
                        </td>
                    </tr>
                }
            </tbody>
            @*Table to display event links and modify them*@
        </table>
    </div>

    @*CHANGE THE CODE,ONLY THE PART OF UPLOAD FORM NOT STYLING*@
    <div class="container form" id="upload_div" style="display:none">
        <a id="back" href="#"><h5>Back</h5></a>
        <h2>Upload</h2>
        @*UploadFile=>Action name, Upload=>Controller Name*@


        @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))

        {

            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />

                <input type="submit" value="Upload" />

                @ViewBag.Message

            </div>
        }
    </div>
</div>
<script>
    var upload = document.getElementById("upload_image");
    upload.addEventListener("click", function () {
        console.log("It's working");
        upload_div.style.display = "block";
        events.style.display = "none";

    });
    var Back = document.getElementById("back");
    Back.addEventListener("click", function () {
        events.style.display = "block";
        upload_div.style.display = "none";
    });
</script>