@{
    ViewBag.Title = "AdminLogin";
}
<head>
    <style>
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                cursor: pointer;
            }
    </style>
</head>
<div class="login-page">

    <div class="form" title="Admin Login" id="login">
        <h2>Login</h2>
        <form class="login-form" action="@Url.Action("AuthenticateUser", "Login")" name="login_form" onsubmit="return validateForm()" method="post">
            @*add action events here*@
        
        <input type="text" placeholder="Username" name="Email" />
        <input type="password" placeholder="Password" name="Password" />

        <input type="submit" style="background-color:cornflowerblue; font-weight:bold;" value="Log In" />
        <a id="forgot-password" href="#">Forgot Password?</a>
        <p>@TempData["Message"]</p> @*success message from backend*@
        <p>@ViewBag.error</p>
        <p>@ViewBag.EmailError</p>
    </form>
</div>
<div id="ask-email" class="form" title="Forgot Password" style="display:none;">
    <a id="back" href="#"><h5>Back</h5></a>
    <h2>Forgot Password</h2>
    <br />
    <form class="login-form" action="@Url.Action("SendPassword","Login")" method="post">
        @*add action events here*@
    <input type="email" placeholder="Email Address" name="Email"/>
    <input type="submit" value="Next" style="background-color:cornflowerblue; font-weight:bold;" />
    <p>@ViewBag.ErrorMessage</p>@*failure message from backend*@
</form>
</div>
</div>
<script>
        var forgotPassword = document.getElementById("forgot-password");
        var askEmail = document.getElementById("ask-email");
        var Login = document.getElementById("login");
            forgotPassword.addEventListener("click", function () {
                console.log("It's working");
                askEmail.style.display = "block";
                Login.style.display = "none";

            });
            var Back = document.getElementById("back");
            Back.addEventListener("click", function () {
                Login.style.display = "block";
                askEmail.style.display = "none";
            });
             
                function validateForm() {
                var em = document.forms["login_form"][Email].value;
                var pass = document.form["login_form"][Password].value;
                if (em == "") {
                    alert("UserName or password incorrect");
                    return false;
                }
                if (length(pass) < 4) {
                    alert("UserName or password incorrect");
                    return false;
                }
              
            }
</script>