@{
    ViewBag.Title = "AdminLogin";
}

<div id="udit3">
    <div class="login-page">

        <div class="form" title="Admin Login" id="login">
            <h2>Login</h2>
            <form class="login-form" action="@Url.Action("AuthenticateUser", "Login")" name="login_form" onsubmit="return validateForm()" method="post">
                @*add action events here*@

                <input type="text" placeholder="Username" name="Email" required />
                <input type="password" placeholder="Password" name="Password" required />

                <input type="submit" style="background-color:cornflowerblue; font-weight:bold;" value="Log In" />
                <a id="forgot-password" href="#">Forgot Password?</a>
                <p style="color:red;">@TempData["Message"]</p> @*success message from backend*@
                <p style="color:red;">@ViewBag.error</p>
                <p style="color:red;">@ViewBag.EmailError</p>
            </form>
        </div>
        <div id="ask-email" class="form" title="Forgot Password" style="display:none;">
            
            <h2>Forgot Password</h2>
            <br />
            <form class="login-form" action="@Url.Action("SendPassword","Login")" method="post">
                @*add action events here*@
                <input type="email" placeholder="Email Address" name="Email" />
                <input type="submit" value="Next" style="background-color:cornflowerblue; font-weight:bold;" />
                <p>@ViewBag.ErrorMessage</p>@*failure message from backend*@

            </form>
            <a id="back" href="#"><h5>Back</h5></a>
        </div>
    </div>
</div>
<script>
        var forgotPassword = document.getElementById("forgot-password");
        var askEmail = document.getElementById("ask-email");
        var Login = document.getElementById("login");
            forgotPassword.addEventListener("click", function () {
                console.log("It's working");
                askEmail.style.display = "block";
                Login.style.display = "none";

            });
            var Back = document.getElementById("back");
            Back.addEventListener("click", function () {
                Login.style.display = "block";
                askEmail.style.display = "none";
            });
             
                function validateForm() {
                var em = document.forms["login_form"][Email].value;
                var pass = document.form["login_form"][Password].value;
                if (em == "") {
                    alert("UserName or password incorrect");
                    return false;
                }
                if (length(pass) < 4) {
                    alert("UserName or password incorrect");
                    return false;
                }
              
            }
</script>